.login {
  align-items: center;
  background: #fafafa;
  box-shadow: 0 0 13px rgb(209, 209, 209);
  color: black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-evenly;
  margin: 60px auto;
  width: 550px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: space-between;
  padding: 15px;
  width: 100%;

}

.logo-image {
  align-items: center;
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  margin: 20px;
  width: 100%;
}

.logotunes {
  height: 70%
}

.image-login {
  border-radius: 50%;
  width: 100px;
}

.form input {
  border: none;
  box-shadow: 0 0 7px 3px rgb(219, 219, 219);
  font-size: 1.2rem;
  min-height: 40px;
  margin: 7px;
  padding: 5px;
  width: 100%;
}

.description-login {
  border: none;
  box-shadow: 0 0 7px 3px rgb(219, 219, 219);
  flex-grow: 3;
  padding: 5px;
  width: 100%;
  max-height: 150px;
}

.button-login {
  background: #2fc18c;
  border: none;
  border-radius: 60px;
  color: white;
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
  width: 130px;
}

.button-login:disabled {
background-color: rgb(168, 168, 168);
}

.button-login:hover {
  box-shadow: 0 0 5px rgb(180, 255, 192);
  font-weight: 800;
}
